body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
ul,
li,
a,
section,
form,
table,
td,
tr,
tbody,
select,
label,
figure {
	margin: 0px;
	padding: 0px;
}

h1 {
	font-size: 44px;
	font-weight: 400;
	line-height: 1.6;
}

h2 {
	font-size: 36px;
	font-weight: 400;
	line-height: 1.6;
}

h3 {
	font-size: 31px;
	font-weight: 400;
	line-height: 1.6;
}

h4 {
	font-size: 26px;
	font-weight: 400;
}

p {
	font-size: 16px;
	line-height: 1.6;
	font-weight: 300;
}

a:hover,
a:focus {
	text-decoration: none;
	color: inherit;
}

a {
	color: inherit;
}

* {
	box-sizing: border-box;
}

ul > li,
li {
	list-style: none;
}

label {
	margin-bottom: 0.5rem;
}

/*header*/
#header {
	padding-top: 20px;
}
.companyLogo {
	max-width: 238px;
}
.companyLogo img {
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: center;
}
.headerRow {
	align-items: center;
}
.nav-menu li a {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: normal;
	color: #fff;
	font-weight: 600;
}
.nav-menu li:not(:first-child) {
	margin-left: 25px;
}

.whole-banner-section {
	padding-top: 0px;
	padding-bottom: 115px;
	outline: none;
	background-color: rgb(255, 255, 255);
	background-image: url(../images/home-banner.png);
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.self-btn {
	font-size: 16px;
	line-height: 50px;
	padding: 0 30px;
	color: #ffffff;
	display: inline-block;
	border: 0px;
	cursor: pointer;
}
.login-btn,
.signup-btn {
	color: rgb(28, 132, 247);
	font-weight: 600;
	background-color: #fff;
	font-size: 18px;
	border-radius: 5px;
}
.signup-btn {
	background-color: #3bd36f;
	color: #fff;
}

/*banner content*/
.banner-content {
	padding: 40px 0px;
}
.banner-content {
	text-align: center;
}
.heading-title h1 {
	color: #fff;
	font-size: 44px;
	font-weight: 700;
	line-height: 57.2px;
	margin-bottom: 10px;
}
.sub-heading-title p {
	font-size: 18px;
	color: #fff;
	line-height: normal;
	font-weight: 600;
}
.heading-btn {
	padding-top: 300px;
}
.get-started-btn {
	color: rgb(255, 255, 255);
	font-weight: 600;
	background-color: rgb(28, 132, 247);
	font-size: 20px;
	border-radius: 10px;
}

/*client section*/
.client-section {
	margin-top: 20px;
	margin-bottom: 40px;
}
.client-container {
	border-bottom: 1px solid rgb(207, 207, 207);
	padding-bottom: 20px;
}
.client-image {
	max-width: 238px;
}
.client-image img {
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: center;
}

/*feature section*/
.feature-section {
	margin-bottom: 30px;
}
.feature-image img {
	width: 100%;
	object-fit: cover;
	object-position: center;
}
.feature-container > div {
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgb(207, 207, 207);
}

.feature-container > div:nth-child(2) {
	flex-direction: row-reverse;
}
.feature-text-section h2 {
	color: #2d2d2d;
	font-size: 44px;
	line-height: 57.2px;
	font-weight: 700;
	margin-bottom: 10px;
}
.blue-dot {
	color: #1c84f7;
}
.feature-text-section p {
	font-size: 16px;
	line-height: 23px;
	color: #606060;
	font-weight: 400;
}

/*tool section*/
.all-the-tool-section {
	padding: 50px 0;
	background-color: #1c84f7;
}
.all-tool-title h3 {
	text-align: center;
	font-size: 38px;
	line-height: 49px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 20px;
}
.tool-content {
	display: flex;
	color: #fff;
	margin-bottom: 20px;
}
.tool-text-content h4 {
	font-size: 22px;
	line-height: 24.2px;
	font-weight: 700;
	margin-bottom: 5px;
}
.tool-text-content {
	padding-left: 20px;
}
.tool-logo {
	max-width: 50px;
}
.tool-text-content p {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}
.all-the-tool-section .row {
	padding: 20px 0;
}

/*free btn section*/
.single-free-btn {
	color: rgb(255, 255, 255);
	font-weight: 600;
	background-color: rgb(59, 211, 111);
	font-size: 20px;
	border-radius: 10px;
}
.free-btn-se {
	text-align: center;
	padding-bottom: 20px;
	margin-top: -20px;
}

/*testimonial section*/
.testimonial-section {
	padding: 25px 0 40px;
}
.testimonial-section h3 {
	font-size: 42px;
	line-height: 54.6px;
	font-weight: 700;
	color: #2d2d2d;
	text-align: center;
	margin-bottom: 15px;
}
.testimonial-description p {
	font-size: 16px;
	line-height: 22.85px;
	color: #2f2f2f;
	margin-bottom: 10px;
}
.testimonial-content {
	padding: 20px 15px;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}
.testomonial-name {
	text-align: right;
}
.testomonial-name span {
	font-weight: 700;
	font-size: 16px;
	color: #2f2f2f;
}
.testimonial-section .row {
	padding-top: 30px;
}

/*footer*/
#footer {
	background-color: #1c84f7;
	padding: 20px 0;
}
#footer .row {
	align-items: center;
}

.footer-logo {
	max-width: 141px;
}
.footer-logo img {
	width: 100%;
	object-fit: cover;
	object-position: center;
}
.footer-ul {
	display: flex;
	justify-content: flex-end;
}
.footer-ul li a {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}
.footer-ul li:not(:first-child) {
	margin-left: 20px;
}

/*responsive*/
@media (max-width: 991px) {
	.whole-banner-section {
		background-position: center;
	}
}
@media (max-width: 767px) {
	.whole-banner-section {
		background-position: top center;
	}
	/* .headerRow {
		align-items: flex-start;
	} */
	.hamspan {
		display: block;
		height: 2px;
		width: 20px;
		background: #fff;
		margin-top: 2px;
		outline: none;
		cursor: pointer;
	}
	.nav-menu li:not(:first-child) {
		margin: 0;
	}
	.login-btn,
	.signup-btn {
		line-height: 30px;
		font-size: 14px;
	}
	.headerRow > div:nth-child(2) {
		order: 4;
	}
	.login-section,
	.signup-section {
		text-align: right;
	}
	.my_navbar {
		justify-content: flex-end;
	}

	.collapse.in {
		display: block;
	}
	.navbar-toggler:focus {
		outline: unset;
	}

	.testimonial-content {
		margin-bottom: 15px;
	}
	.footer-logo {
		margin: 0 auto;
	}

	.footer-ul {
		justify-content: center;
	}
}

@media (max-width: 480px) {
	.footer-ul {
		display: block;
		text-align: center;
	}
	.footer-ul li:not(:first-child) {
		margin: 0;
	}
	.login-section {
		text-align: right;
	}
	.signup-section {
		text-align: left;
	}
	.companyLogo {
		margin: 0 auto;
		margin-bottom: 15px;
	}
	.my_navbar {
		justify-content: center;
	}
	.heading-title h1 {
		font-size: 36px;
	}
	.heading-btn {
		padding-top: 50px;
	}
	.client-image {
		margin: 0 auto;
	}
	.feature-text-section h2 {
		text-align: center;
	}
	.all-tool-title h3 {
		font-size: 22px;
		line-height: normal;
	}
	.testimonial-section h3 {
		font-size: 26px;
		line-height: normal;
	}
	.testimonial-section .row,
	.feature-container > div {
		padding-top: 0;
	}
	.feature-text-section h2 {
		font-size: 30px;
		line-height: normal;
	}
	.whole-banner-section,
	.heading-content,
	.heading-btn {
		position: relative;
	}
	.whole-banner-section::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
		display: block;
	}
	.whole-banner-section {
		background-size: cover;
	}
}
